<html layout:decorator="layout" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">

    <div id="who" class="container-fluid bg-1 text-center">
        <p> </p>
        <p> </p>
        <h3 class="margin">Who Am I?</h3>
        <img src="/logo.png" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350"/>
        <h3>Hier der Name des Benutzers</h3>
    </div>

    <!-- Second Container -->
    <div id="what" class="container-fluid bg-2 text-center">
        <h3 class="margin">Information</h3>
        <p>Hier Informationen über den angemeldeten.</p>
    </div>

    <!-- Third Container (Grid) -->
    <div id="where" class="container-fluid bg-3 text-center">
        <h3 class="margin">Training</h3>
        <div class="row">
            <div class="col-sm-4">
                <p>Here you can add a new training</p>
                <img src="/zu2.png" class="img-responsive margin" style="width:100%" alt="Image"/>
            </div>
            <div class="col-sm-4">
                <p>Here you can edit an old training</p>
                <img src="/edit.png" class="img-responsive margin" style="width:100%" alt="Image"/>
            </div>
            <div class="col-sm-4">
                <p>Here yu can delete trainings</p>
                <img src="/stats.png" class="img-responsive margin" style="width:100%" alt="Image"/>
            </div>
        </div>
    </div>
</div>
</html>